p {
	background:#c4c4c4;
	margin:10px;
	color:#222;
	text-shadow:0 1px 3px #fff;
	border-radius:10px;
	padding: 5px 10px 5px 10px;
	box-shadow: 1px 1px 5px #333;
}
div.display {
	float:right;
}
img.display {
	margin:10px;
	border:10px solid #fff;
	box-shadow: 1px 1px 5px #333;
	width:100px;
	height:100px;
	float:right;
}
