/*slideshow-----------*/
img.slideshow {
	float:left;
	margin:10px 0 10px 0;
	border-radius: 0 0 20px 20px;
	box-shadow:1px 1px 5px #428;
}
a#ssprev {
	display:block;
	float:left;
}
a#ssnext {
	display:block;
	float:left;
}
div.slide {
	float:left;
	margin:10px 0 0 10px;
	text-align:right;
	background: #83e;
	border-radius: 0 0 20px 20px;
}
h2.desc {
	color:#ededed;
	font-size:16px;
}
