body {
	font-family: Arial, Helvetica, sans-serif;
}
div.window {
	border-radius: 10px;
	background:#ddd;
	box-shadow: 1px 1px 5px #333;/*, inset 0 20px #d0d0d0;*/
	position:absolute;
	overflow:hidden;
}
h2.winTitle {
	font-family: Iceland, cursive;
	float:left;
	color:#fff;
	font-size:16px;
	padding:0;
	text-shadow:0 0 2px #222;
	margin:1px;
}
div.titleBar {
	height:20px;
	width:100%;
	background-image:url(../images/components/title.png);
	border-radius:10px 10px 0 0;
	float:left;
	overflow:hidden;
}
div.footBar {
	width:100%;
	height:20px;
	position: absolute;
	bottom: 0px;
}
/*Interaction components*/
a.resize {
	float:right;
	margin-right:5px;
}
a.move {
	float:left;
	margin-left:5px;
}
a.min,a.pan {
	float:left;
	margin-left:5px;
	padding:2px;
}
/*built-in content conventions*/
div.pane {
	width:100%;
	overflow:hidden;
}
div.half-pane-right {
	margin:10px 0 0 0;
	float:right;
	width:50%;
	box-shadow:inset 2px 0 0 #aaa;
	overflow:hidden;
}
div.half-pane-left {
	margin:10px 0 0 0;
	float:left;
	width:50%;
	box-shadow:2px 0 0 #aaa;
	overflow:hidden;
}
/*buttons*/
a.btn {
	font-size:14px;
	float:left;
	color:#fff;
	text-shadow:0 0 5px #000;
	display:block;
	background-image:url(../images/components/button-over.png);
	background-position:top;
	background-repeat:repeat-x;
	margin:10px 10px 5px 10px;
	padding:10px;
	width:100px;
	border-radius:10px;
	box-shadow:inset 1px 1px 5px #333;
}
a.btn:link {
	text-decoration:none;
}
a.btn:hover {
	color:#333;
	text-shadow:0 0 5px #fff;
	background-image:url(../images/components/button.png);
	background-position:bottom;
	box-shadow: 1px 1px 5px #333;
}
