<div class=half-pane-left>
<p>Each div fills half of its container, in this way the page can be split up for equal content. See this in use in the main window of the homepage</p>
</div>
<div class=half-pane-right>
	<div class=half-pane-left>
		<p>this div is half the size of the last</p>
	</div>
	<div class=half-pane-right>
		<div class=half-pane-left>
			<p>half again</p>
		</div>
		<div class=half-pane-right>
			<div class=half-pane-left>
				<p>1 _ 2</p>
			</div>
			<div class=half-pane-right>
			</div>
		</div>
	</div>
</div>
