<div class=tab-select id=test-tabs>
<a class=tab href=javascript:void(0) id=selected onClick=addHTML('test-tab-page','windows/tests/tabs/tab1.html');switchSelect('test-tabs'); >tab test1</a>
<a class=tab href=javascript:void(0) onClick=addHTML('test-tab-page','windows/tests/tabs/tab2.html');switchSelect('test-tabs'); >tab test2</a>
</div>
<div class=tab-page id=test-tab-page>
	<script>addHTML('test-tab-page','windows/tests/tabs/tab1.html')</script>
</div>
