<p style=font-size:14px;>I designed this page to emulate the familiar operating system environment of a PC. The style aims to be minimalist and original. Although it bares resemblence to an operating system such as Windows, OSX or Ubuntu, it doesn't behave exactly as expected. For instance, the windows can only be moved with the grip in the top left (as opposed to the entire title-bar) and they react to a click-move-click instead of a press-drag-release. Try it out.<br>
The windows can be in one of three states, normal (in its position on the screen), minimized (at the bottom of the screen) and a panel (docked at the bottom of the screen, but open) Each state can be switched to any other by pressing the icons in the title-bar.<br>
Clicking the icon with three squares will show the avaliable slots and the normal position of the window, these states or positions can be switched to by clicking on them.<br>
Normal windows can be moved anywhere in the screen and be resized to fill it, whereas panels can only be resized vertically, and minimized windows or panels can be moved to a different slot along the bottom of the page.</p>
