<div class=half-pane-left >

	<a class=btn
	   href=http://oversword.co.uk/other/hcoa/
	   target=_blank
	   >
		Charity - ITTW
	</a>
	<a class=btn
	   href=http://oversword.co.uk/other/massive-attack/
	   target=_blank
	   >
		Massive Attack - ITTW
	</a>
	<a class=btn
	   href=http://oversword.co.uk/other/eacc/
	   target=_blank
	   >
		EACC - Info. Design
	</a>
</div>
<div class=half-pane-right>
	<p>
		These websites have been design specificall to fit the spec. of my university course. Most content is sourced, inform me if you find a discrapancy.
	</p>
</div>