<div id=links class=half-pane-right>
    <div id=links class=half-pane-right>
	<img id=main-display class=display src=images/content/blank.gif>
	<div id=display-main class=display></div>
    </div>
    <div id=links class=half-pane-left >
	<a class=btn onMouseOver=setPicture('main-display','oversword.gif');HL('#display-main','descriptions/site.html') href=http://oversword.co.uk/ 
   target=_blank >My site</a>
	<!--a class=btn onMouseOver=setPicture('main-display','projects.svg');HL('#display-main','descriptions/projects.html') href=javascript:void(0) onClick=desk.BringUp('projects')>Projects</a-->
	<a class=btn onMouseOver=setPicture('main-display','acedemia.svg');HL('#display-main','descriptions/acedemic.html') href=javascript:void(0) onclick="desk.BringUp('Acedemic Projects')" >Acedemic Work</a>
	<!--a class=btn onMouseOver=setPicture('main-display','web.svg');addHTML('display-main','descriptions/webtools.html') href=javascript:void(0) onClick=buildFrame([300,500],[-20,20],{'id':'webtools','title':'Web-Tools','content':'windows/webtools.html','state':'norm'}); >Web Tools</a-->
	<a class=btn onMouseOver=setPicture('main-display','about.svg');HL('#display-main','descriptions/aboutabout.html') href=javascript:void(0) onClick="desk.BringUp('About This Page')">About</a>
    </div>
</div>
<div id=links class=half-pane-left>
    <p>Here you can find links to, and information on all of my projects, as well as links to my university work</p>
    <!--p>New Pararaph, just testing</p-->
</div>
