<div class=slide id=ssnewart>
	<script>
		makeSlideShow('ssnewart','artslideshow','images/content/slideshow-newart/','art',4,'.jpg','More Recent Works',400,400);
	</script>
</div>
<p style=float:right;width:170px;>
	Some of my more recent drawings, created with GIMP (Gnu Image Manipulation Prorgam).<br/>
	With these I stepped somewhat into the psychedelic, using brighter colours and more imaginative imagery.
</p>
