<div class=slide id=ssoldart>
	<script>
		makeSlideShow('ssoldart','oldslideshow','images/content/slideshow-oldart/','art',14,'.jpg','Art Rage Paintings',375,300);
	</script>
</div>
<p style=float:right;width:170px;>
	This is a series of drawings I did a while ago using Art Rage.<br/>
	The images try to convey contempt for society, and the mental suffering most people go through.
	 The backgrounds attempt to define and focus the emotion.
</p>
