<div class=slide id=ssposters>
	<script>
		makeSlideShow('ssposters','slideshow','images/content/slideshow-posters/','Poster',4,'.gif','More Similarities Than Differences',282,391);
	</script>
</div>
<p style=float:right;width:170px;>These are some designs for a set of posters. They're still drafts and the set is not complete, but the main idea is there. With these posters I would hope to bring more awareness to the mistreatment of other species, especially those in the farm industry where they are murdered and enslaved on mass.</p>
