<!--<div id=links class=half-pane-right>
	<img id=proj-display class=display src=images/content/blank.gif>
	<div id=display-proj class=display></div>
</div>
<div id=links class=half-pane-left>
	<a class=btn onMouseOver=setPicture('proj-display','physics.png');addHTML('display-proj','descriptions/projects/physics.html'); href=http://oversword.co.uk/content/physics-sim-published-ver-102>Physics Sim.</a>
	<a class=btn onMouseOver=setPicture('proj-display','RX3.png');addHTML('display-proj','descriptions/projects/regxip.html'); href=main-website>Reg. Xip. 3</a>
	<a class=btn onMouseOver=setPicture('proj-display','tasks.png');addHTML('display-proj','descriptions/projects/tasks.html'); href=files/projects/tasks.txt>Task Manager</a>
	<a class=btn onMouseOver=setPicture('proj-display','system.png');addHTML('display-proj','descriptions/projects/data.html'); href=files/projects/system_template.py>Data System</a>
	<a class=btn onMouseOver=setPicture('proj-display','posters.gif');addHTML('display-proj','descriptions/projects/posters.html'); href=javascript:void(0) onClick=buildFrame([550,480],['center','center'],{'id':'posters','title':'Posters','content':'windows/posters.html','state':'norm'}); >MSTD Posters</a>
	<a class=btn onMouseOver=setPicture('proj-display','website.png');addHTML('display-proj','descriptions/projects/website.html'); href=test.html >This Website</a>
</div>-->
<div class=tab-select id=project-tabs>
	<a class=tab id=selected href=javascript:void(0) onClick=addHTML('project-tab-page','descriptions/projects/website.html');switchSelect('project-tabs'); >This Site</a>
	<a class=tab href=javascript:void(0) onClick=addHTML('project-tab-page','descriptions/projects/art.html');switchSelect('project-tabs');  >Art Works</a>
	<a class=tab href=javascript:void(0) onClick=addHTML('project-tab-page','descriptions/projects/regxip.html');switchSelect('project-tabs');  >Reg. Xip.</a>
	<a class=tab href=javascript:void(0) onClick=addHTML('project-tab-page','descriptions/projects/data.html');switchSelect('project-tabs');  >Data System</a>
	<a class=tab href=javascript:void(0) onClick=addHTML('project-tab-page','descriptions/projects/physics.html');switchSelect('project-tabs');  >Physics</a>
</div>
<div class=tab-page id=project-tab-page>
	<script>addHTML('project-tab-page','descriptions/projects/website.html');</script>
</div>