<div id=links class=half-pane-right>
	<img id=web-display class=display src=images/content/blank.gif>
</div>
<div id=links class=half-pane-left>
	<!--a class=btn onMouseOver=setPicture('web-display','physics.png') href=http://oversword.co.uk/content/physics-sim-published-ver-102>Physics Sim.</a-->
</div>
