<div class=half-pane-left >
	<p>
		Each link opens a slideshow with the set of images.<br/>
		All work is mine, but various sample images have been used in the MSTD Posters (nothing you can't download from google)
	</p>
</div>
<div class=half-pane-right >
	<img class=static-display width=250px height=150px src=images/content/posters.gif>
	<a
		class=btn
		href=javascript:void(0);
		onclick=close_open('posters')
		>
		MSTD Posters
	</a>
	<a
		class=btn
		href=javascript:void(0);
		onclick=close_open('oldart')
		>
		Old Art
	</a>
	<a
		class=btn
		href=javascript:void(0);
		onclick=close_open('newart')
		>
		New Art
	</a>
</div>