<div class=half-pane-left>
	<p>
		This project aims to create a system for inputing, displaying and managing data.<br/>
		The newest version has 2 parts: A structure tree, and a viewing table.<br/>
		The graphics module I have made means the data can be represented in 3D, this will allow for more intuitive interactivity.
	</p>
</div>
<div class=half-pane-right>
	<img class=static-display width=250px height=150px src=images/content/system.png>
	<!--links-->
	<a class=btn href=files/projects/task-syst.zip >Task System</a>
	<a class=btn href=files/projects/graphics.py >Graphics Mod.</a>
	<a class=btn href=files/projects/current.zip >Current Version</a>
</div>
