<div class=half-pane-left>
	<p>
		This program intends to simulate how forces interact between points of energy.<br/>
		The original was meant to be at the smallest possible scale, but seeing as i really have no idea how the universe works at that scale, I decided to build from the top.<br/>
		The current version is a single python script, and simulates gravity, much adjustment is needed, including the use of the fully developed graphics module.
	</p>
</div>
<div class=half-pane-right>
	<img class=static-display width=250px height=200px src=images/content/physics.png>
	<!--links-->
	<a class=btn href=http://oversword.co.uk/content/physics-sim-published-ver-102
	   target=_blank >Original Flash</a>
	<a class=btn href=files/projects/gravity-physics.py >Current Version</a>
</div>