<div class=half-pane-left >
	<p>
		Opens a slideshow: More Similar-<br>ities Than Differences.
	</p>
</div>
<div class=half-pane-right >
	<img class=static-display width=250px height=150px src=images/content/posters.gif>
	<!--links-->
</div>