<div class=half-pane-left>
	<p>
		The first 3 parts of the series, Music credits: Haemoglobin - Placebo, Bigmouth Strikes Again - Placebo, Mr. Jack - System Of A Down.<br/>
		The animation gets noticably better as they go along, alot needs to be done to the newest one.
	</p>
</div>
<div class=half-pane-right>
	<img class=static-display width=250px height=150px src=images/content/RX3.png>
		<a
		   class=btn
		   href=http://oversword.co.uk/portfolio/Flash/Regeneration_Xiphosura_1_-_Haemoglobin.html 
		   target=_blank
		   >
			1: Haemoglobin
		</a>
		<a
		   class=btn
		   href=http://oversword.co.uk/portfolio/Flash/Regeration_Xiphosura_2_-_Bigmouth.html 
		   target=_blank
		   >
			2: Bigmouth
		</a>
		<a
		   class=btn
		   href=files/projects/Regeneration_Xiphosura_-_Mr_Jack.swf 
		   target=_blank
		   >
			3: Mr. Jack (incomplete)
		</a>
	<!--links-->
</div>