<div class=half-pane-left>
	<p>
		Testing of, and informaton on the progress of this OS type website
	</p>
</div>
<div class=half-pane-right>
	<img class=static-display width=250px height=150px src=images/content/website.png >
	<!--links-->
</div>