@import "scheme.less";
//Functions
.set-gradient (@start,@col1,@pos1,@col2,@pos2,@col3,@pos3,@col4,@pos4){
	background-image: linear-gradient(@start, @col1 @pos1, @col2 @pos2, @col3 @pos3, @col4 @pos4);
	background-image: -o-linear-gradient(@start, @col1 @pos1, @col2 @pos2, @col3 @pos3, @col4 @pos4);
	background-image: -moz-linear-gradient(@start, @col1 @pos1, @col2 @pos2, @col3 @pos3, @col4 @pos4);
	background-image: -webkit-linear-gradient(@start, @col1 @pos1, @col2 @pos2, @col3 @pos3, @col4 @pos4);
	background-image: -ms-linear-gradient(@start, @col1 @pos1, @col2 @pos2, @col3 @pos3, @col4 @pos4);
	background-image: -webkit-gradient(
		linear,
		left @start,
		left top,
		color-stop(@pos1, @col1),
		color-stop(@pos2, @col2),
		color-stop(@pos3, @col3),
		color-stop(@pos4, @col4)
	);
}
.set-shadow (@x:1px, @y:1px, @blur:5px, @colour:darken(@window-colour,80%)) {
	box-shadow: @x @y @blur @colour;
}
.set-text-shadow (@colour:lighten(@window-colour,50%), @x:0, @y:0, @blur:2px){
	text-shadow: @x @y @blur @colour;
}
.set-text-border (@colour:lighten(@window-colour,50%), @offset:2px){
	text-shadow:
	@offset @offset 0 @colour,
	-@offset -@offset 0 @colour,
	-@offset @offset 0 @colour,
	@offset -@offset 0 @colour,
	-@offset 0 0 @colour,
	@offset 0 0 @colour,
	0 -@offset 0 @colour,
	0 @offset 0 @colour;
}
////Icons
a.icon {
	box-shadow:1px 1px 5px #333;
	//.icon-image {
	//	opacity: 1;
	//}
	.set-gradient(bottom,@window-colour,0%,darken(@window-colour,10%),49%,@window-colour,51%,lighten(@window-colour,10%),100%);
	color:@text-colour;
	.set-text-border();
	&:hover {
		color:@high-colour;
		.set-text-border(darken(@window-colour,50%),1px);	
	}
	&:active {
		.set-gradient(bottom,darken(@window-colour,10%),0%,darken(@window-colour,20%),49%,darken(@window-colour,10%),51%,@window-colour,100%);
	}
	&.open {
		box-shadow:inset 1px 1px 5px #333;	
		//.icon-image {
		//	//opacity: 0.4;
		//}
		.set-gradient(bottom,darken(@window-colour,10%),0%,darken(@window-colour,20%),49%,darken(@window-colour,10%),51%,@window-colour,100%);
		color:@high-colour;
		.set-text-border(darken(@window-colour,50%),1px);
		&:active{
			.set-gradient(bottom,@window-colour,0%,darken(@window-colour,10%),49%,@window-colour,51%,lighten(@window-colour,10%),100%);
		}
		&:hover {
			color:@text-colour;
			.set-text-border();
		}
	}
}
a.btn {
	color: @text-colour;
	.set-gradient(bottom,darken(@window-colour,10%),0%,darken(@window-colour,20%),49%,darken(@window-colour,10%),51%,@window-colour,100%);
	.set-text-shadow();
	img {
		opacity: 0.7;
	}
	&:hover,&.selected {
		color:@high-colour;
		.set-text-shadow(darken(@window-colour,50%));
		.set-gradient(bottom,@window-colour,0%,darken(@window-colour,10%),49%,@window-colour,51%,lighten(@window-colour,10%),100%);
		.set-shadow();
		img {
			opacity: 1;
		}
	}
}
.indicator {
	background:@neut-colour;
	border:3px darken(@neut-colour,25%) solid;
}
.helper {
    background:@neut-colour;
    border-radius: 5px;
}
.window {
	.set-shadow();
	.top {
		.set-gradient(bottom,@window-colour,0%,darken(@window-colour,10%),49%,@window-colour,51%,lighten(@window-colour,10%),100%);
		.title {
			color: @text-colour;
			.set-text-shadow();
		}
	}
	.content {
		.set-gradient(top,@window-colour,0%,lighten(@window-colour,10%),100%,lighten(@window-colour,10%),100%,lighten(@window-colour,10%),100%);
		//background:@window-colour;
	}
}
//Content
p {
	.set-gradient(top,@page-colour,0%,lighten(@page-colour,10%),100%,lighten(@page-colour,10%),100%,lighten(@page-colour,10%),100%);
	color:@text-colour;
	.set-text-shadow();
	.set-shadow();
}
div.half-pane-left {
	box-shadow:2px 0 0 darken(@window-colour,25%);
}
div.half-pane-right {
	box-shadow:inset 2px 0 0 darken(@window-colour,25%);
}
img.display,img.static-display {
	border:10px solid @high-colour;
	box-shadow: 1px 1px 5px darken(@window-colour,80%);
}
//Tabs
a.tab {
	color:@text-colour;
	.set-shadow();//0px,0px,5px,darken(@window-colour,40%));
	.set-gradient(bottom,darken(@page-colour,10%),0%,darken(@page-colour,20%),49%,darken(@page-colour,10%),51%,@page-colour,100%);
	&#selected{
		.set-gradient(bottom,lighten(@page-colour,10%),0%,darken(@page-colour,10%),49%,@page-colour,51%,lighten(@page-colour,20%),100%);

	}
	&:hover {
		color:@high-colour;
		.set-gradient(bottom,@page-colour,0%,darken(@page-colour,10%),49%,@page-colour,51%,lighten(@page-colour,20%),100%);
	}
}
div.tab-page {
	.set-gradient(top,@page-colour,0%,lighten(@page-colour,10%),100%,lighten(@page-colour,10%),100%,lighten(@page-colour,10%),100%);
	.set-shadow();
}