/*Light window, dark text*/
@window-colour: rgba(221,221,221,0.7);//rgba(136,51,238,1);
@text-colour: rgba(0,0,0,0.7);
@high-colour: rgba(150,100,238,0.7);
@page-colour: lighten(@text-colour,85%);
@neut-colour: rgba(200,200,230,0.5);

/*dark window, light text*//*
@window-colour: rgba(40,40,40,0.8);
@text-colour: rgba(250,250,250,0.8);
@high-colour: rgba(0,200,250,0.8);
@page-colour: darken(@text-colour,85%);
@neut-colour: rgba(200,200,50,0.5);*/
