@import "scheme.less";
img.slideshow {
	float:left;
	margin:10px 0 10px 0;
	border-radius: 10px;
	box-shadow:1px 1px 5px darken(@high-colour,50%);
}
a#ssprev, a#ssnext{
	display:block;
	float:left;
	margin:5px;
}
div.slide {
	float:left;
	margin:10px 0 0 10px;
	text-align:right;
	background: @high-colour;
	border-radius: 10px;
}
h2.desc {
	color:@page-colour;
	font-size:16px;
	margin:0 10px 10px 0;
}
