@border-rad: 5px;
@std-margin: 10px;
* {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
.desktop {
	width: 100%;
	height: 100%;
	background: #eef;
    a.icon {
        overflow: hidden;
        border-radius:@border-rad;
        float: left;
        margin: 10px;
        text-decoration: none;
        text-align: center;
        width: 100px;
        height: 100px;
        h2 {
            margin-top: -75px;
            //font-family: Iceland, sans-serif;
            font-size:16px;
        }
        img {
            width: 100px;
            height: 100px;
        }
    }
}
.windows {
    .window {
        border-radius: @border-rad;
        position:absolute;
        overflow:hidden;
        header.top {
            height:20px;
            width:100%;
            border-radius:@border-rad @border-rad 0 0;
            float:left;
            overflow:hidden;
            .min,.pan,.move,.sel {
                float:left;
                margin-left:5px;
                padding:2px;
                opacity: 0.7;
                height: 100%;
                width:15px;
                background-repeat: no-repeat;
                background-position: center;
            }
            .move {
                cursor: move;
            }
            h2.title,h2.info {
                font-family: Iceland, sans-serif;
                float:left;
                font-size:18px;
                padding:2;
                margin:1px;
            }
            h2.info {
                float:right;
                margin-right:10px;
            }
        }
        section.content {
            width:100%;
            height:100%;
            overflow:hidden;
        }
        footer.bottom {
            width:100%;
            height:20px;
            position: absolute;
            bottom: 0px;
            .resize {
                float:right;
                margin-right:5px;
                height:100%;
                width:15px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .ui-resizable-n {
            height: 20px;
            top:0;
            left:80px;
        }
	.ui-resizable-handle {
	    z-index:0 !important;
	}
    }
}
.actions {
    position:absolute;
    bottom:0;
    right:0;
    height:40px;
    background: #ddd;
    border-radius: @border-rad @border-rad 0 0;
    a.btn {
        text-align: center;
        width:auto;
        margin: (@std-margin/4);
    }
}
.indicators {
    .indicator {
        position: absolute;
        border-radius: @border-rad;
    }
}
.messages {
	position:absolute;
	top:20px;
	right:20px;
}
a.icon,a.desk.open {
	overflow: hidden;
	border-radius:@border-rad;
	float: left;
	margin: 10px;
	text-decoration: none;
	text-align: center;
	width: 100px;
	height: 100px;
	h2 {
		margin-top: -75px;
		//font-family: Iceland, sans-serif;
		font-size:16px;
	}
    .icon-image {
        width:100%;
        height:100%;
        background-size:100%;
        background-position:center;
        background-repeat:no-repeat;
    }
}
/*built-in content conventions*/
div.pane {
	width:100%;
	height:100%;
	overflow:hidden;
	//padding: 10px;
}
div.half-pane-right {
	float:right;
}
div.half-pane-left {
	float:left;
}
div.half-pane-left,div.half-pane-right {
	margin:@std-margin 0 0 0;
	width:50%;
	overflow:hidden;
}

/*buttons*/
a.btn {
	font-size:14px;
	float:left;
	display:block;
	margin:(@std-margin/2) @std-margin (@std-margin/2) @std-margin;
	padding:10px;
	width:100px;
	border-radius:@border-rad;
	box-shadow:inset 1px 1px 5px #333;
	text-decoration:none;
}
p {
	margin:@std-margin;
	border-radius:@border-rad;
	padding: 5px 10px 5px 10px;
}
div.display {
	float:right;
}
img.display {
	border-radius:@border-rad;
	margin:(@std-margin/2) @std-margin (@std-margin/2) @std-margin;
	width:100px;
	height:100px;
	float:right;
}
img.static-display {
	border-radius:@border-rad;
	margin:(@std-margin/2) @std-margin (@std-margin/2) @std-margin;
	/*width:100px;
	height:100px;
	float:right;*/
}

/*Tabs*/
a.tab {
	display:block;
	float:left;
	margin:@std-margin 0 0 @std-margin;
	padding:0 @std-margin/2 0 @std-margin/2 ;
	text-decoration:none;
	border-radius:@border-rad @border-rad 0 0;
	height:20px;
	width:12%;
    white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
	font-family: Iceland, sans-serif;
}
div.tab-page {
	margin:0 @std-margin @std-margin @std-margin;
	padding:@std-margin 0 @std-margin 0;	
	border-radius:0 @border-rad @border-rad @border-rad;
	div {
		margin:0;
		margin-bottom: 10px;
	}
	div.half-pane-right {
		float:none;
	}
}
div.tab-select {
	width:95%;
	height:30px;
	//background: #f00;
	overflow: hidden;
}